<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/style.css">
    <div class="container my-3"></div>
</head>


    <h3>
        Artist's Top 10 Songs 
    </h3>
    
    <form method="post" action = "">{% csrf_token %}
        <div class="form-group">
            <label for = "num">Enter Artist Name: </label>
            <input type = "text" class = "form-control" id = "name" name = 'name' placeholder = "Enter String">
            
            
        </div>
    
    <button type = "submit" class = "btn btn-success">Submit</button>
    </form>

    

</div>

</html>